body {
	width: 99%;
	height: 99%;
	background-color: #EFEFEF;
}

.playGround {
	border-top: 1px solid #010438;
	border-left: 1px solid #010438;
	border-right: 1px solid #010438;
	margin-top: 1%;
	margin-left: 16%;
	margin-right: 16%;
	background-color: #bfdbfc;
}

header {
	display: block;
	width: 100%;
	height: 60px;

	background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(89, 148, 202, 1) 62%, rgba(121, 181, 229, 0.7) 96%, rgba(125, 185, 232, 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(62%, rgba(89, 148, 202, 1)), color-stop(96%, rgba(121, 181, 229, 0.7)), color-stop(100%, rgba(125, 185, 232, 0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(89, 148, 202, 1) 62%, rgba(121, 181, 229, 0.7) 96%, rgba(125, 185, 232, 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(89, 148, 202, 1) 62%, rgba(121, 181, 229, 0.7) 96%, rgba(125, 185, 232, 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(89, 148, 202, 1) 62%, rgba(121, 181, 229, 0.7) 96%, rgba(125, 185, 232, 0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(89, 148, 202, 1) 62%, rgba(121, 181, 229, 0.7) 96%, rgba(125, 185, 232, 0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=0); /* IE6-9 */

}

#bigTitle {
	color: aliceblue;
	font-size: xx-large;
	margin: auto;
	padding-top: 1%;
	text-align: center;
	text-transform: lowercase;
}

footer {
	border-bottom: 1px solid #010438;
}

.form-container {
	margin: 3% 3% 3% 3%;
	border: 1px solid #f2e3d2;
	background: #c9b7a2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
	background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
	background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
	-moz-box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
	box-shadow: rgba(000, 000, 000, 0.9) 0 1px 2px, inset rgba(255, 255, 255, 0.4) 0 0px 0;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
	vertical-align: middle;
	min-width: 300px;
	padding: 20px;
	width: 300px;
}

.form-container h2 {
	text-shadow: #fdf2e4 0 1px 0;
	font-size: 18px;
	margin: 0 0 10px 0;
	font-weight: bold;
	text-align: center;
}

.form-title {
	margin-bottom: 10px;
	color: #725129;
	text-shadow: #fdf2e4 0 1px 0;
}

.form-field {
	border: 1px solid #c9b7a2;
	background: #e4d5c3;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	color: #c9b7a2;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(000, 000, 000, 0.7) 0 0px 0px;
	padding: 8px;
	margin-bottom: 20px;
	width: 280px;
}

.form-field:focus {
	background: #fff;
	color: #725129;
}

.submit-container {
	margin: 8px 0;
	text-align: center;
}

.submit-button {
	border: 1px solid #447314;
	background: #6aa436;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -ms-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	-moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	color: #31540c;
	font-family: helvetica, serif;
	padding: 8.5px 18px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;

.submit-button:hover {
	border: 1px solid #447314;
	text-shadow: #31540c 0 1px 0;
	background: #6aa436;
	background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
	background: -webkit-linear-gradient(top, #8dc059, #6aa436);
	background: -moz-linear-gradient(top, #8dc059, #6aa436);
	background: -ms-linear-gradient(top, #8dc059, #6aa436);
	background: -o-linear-gradient(top, #8dc059, #6aa436);
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	color: #fff;
}

.submit-button:active {
	text-shadow: #31540c 0 1px 0;
	border: 1px solid #447314;
	background: #8dc059;
	background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
	background: -webkit-linear-gradient(top, #6aa436, #8dc059);
	background: -moz-linear-gradient(top, #6aa436, #8dc059);
	background: -ms-linear-gradient(top, #6aa436, #8dc059);
	background: -o-linear-gradient(top, #6aa436, #8dc059);
	background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
	color: #fff;
}

