{% include "head.html" %}

{% comment %}   The head.html should be inherited parent when template design have been completed.
				It`s work in progress.
	{% endcomment %}

{% include "body.html" %}


<article>
	<div id="content">
	    <form action="/editauction/" method="post">

	    <label>Auction ID: </label><br>
        <input type="text" name="auction_id" value="{{ auction.id }}"><br>
	    <label>Title: </label><br>
        <input type="text" name="auction_title" value="{{ auction.title }}"><br>
		<label>Description: </label><br>
        <input type="text" name="auction_content" value="{{ auction.content }}"><br>
		<label>End time: </label><br>
        <input type="text" name="auction_endtime" value="{{ auction.endtime }}"><br>
		<label>Start time: </label><br>
        <input type="text" name="auction_starttime" value="{{ auction.endtime }}"><br>
		<label>Minimum bid: </label><br>
        <input type="text" name="auction_minprice" value="{{ auction.minprice }}"><br>

		{% if user == auction.ownerid %}
		<div id="publish_button">
			<form action="/editauction/{{ auction.id }}/" method="post">
                {% csrf_token %}
                <input type="submit" value="Publish">
            </form>
		</div>
        {% endif %}

</article>

{% include "footer.html" %}