{% load i18n %}
{% include "head.html" %}

{% comment %}
    The head.html should be inherited parent when template design have been completed.
	It`s work in progress.
{% endcomment %}

{% include "body.html" %}

{% if loggedin == True %}
	<h3>Log Out:</h3>

	<form action="/logout/" method="post">
		{% csrf_token %}
		<input class="submit-button" type="submit" value="{% trans "Logout" %}">
	</form>

	<form action="/auction/" method="post">
		{% csrf_token %}
		<input class="submit-button" type="submit" value="{% trans "Create Auction" %}">
	</form>

	<form action="/userprofile/" method="post">
		{% csrf_token %}
		<input class="submit-button" type="submit" value="{% trans "User Settings" %}">
	</form>
{% endif %}

{% if loggedin == False %}
	<form class="form-container" action="/auctionhouse/" method="post">
		<div class="form-title"><h2>{% trans "Welcome" %}</h2></div>
		<div class="form-title">{% trans "Username" %}/{% trans "Email" %}:</div>
		<input class="form-field" type="text" name="email" value=""><br>

		<div class="form-title">{% trans "Password" %}:</div>
		<input class="form-field" type="password" name="pword" value=""><br>

		{% csrf_token %}
		<div class="submit-container">
			<input class="submit-button" type="submit" name="login" value="{% trans "Login" %}">
			<input class="submit-button" type="submit" name="reguser" value="{% trans "Register" %}">
		</div>
	</form>

{% endif %}

{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}

<form action="/auctionhouse/" method="get">
	<input class="form-field" type="search" name="searchfield">
	<input class="submit-button" type="submit" name="searchbutton" value="{% trans "Search" %}">
</form>

<h3>{% trans "Active Auctions" %}:</h3>

{% for i in auctions %}

	Title: <a href="/auction/{{ i.id }}/">{{ i.title }}</a><br>
	Price: {{ i.min_price }}<br><br>

	{% if user.is_superuser %}
        Auction is active {{ i.is_active }}<br>
		<form action="/deleteauction/{{ i.id }}/" method="post">
			{% csrf_token %}
			<input class="submit-button" type="submit" name="delauction" value="{% trans "Delete Auction" %}">
		</form>

        {% if i.is_locked == False %}
            <form action="/banauction/{{ i.id }}/" method="post">
                {% csrf_token %}
                <input class="submit-button" type="submit" name="ban_auction" value="{%  trans "Ban Auction" %}">
            </form>

        {% elif i.is_locked == True and i.is_active == False %}
            Auction Locked: {{ i.is_locked }}
            <form action="/banauction/{{ i.id }}/" method="post">
                {% csrf_token %}
                <input class="submit-button" type="submit" name="unban_auction" value="{% trans "Unban Auction" %}">
            </form>
        {% endif %}

	{% endif %}
	<hr>
	<br>

{% endfor %}

{% include "footer.html" %}
