{% include "head.html" %}

{% comment %}
    The head.html should be inherited parent when template design have been completed.
	It`s work in progress.
{% endcomment %}

{% include "body.html" %}

{% if loggedin == True %}
	<h3>Log Out:</h3>

	<form action="/logout/" method="post">
		{% csrf_token %}
		<input type="submit" value="Log out">
	</form>

	<form action="/auction/" method="post">
		{% csrf_token %}
		<input type="submit" value="Create Auction">
	</form>

	<form action="/userprofile/" method="post">
		{% csrf_token %}
		<input type="submit" value="User Settings">
	</form>
{% endif %}

{% if loggedin == False %}
	<form class="form-container" action="/auctionhouse/" method="post">
		<div class="form-title"><h2>Welcome</h2></div>
		<div class="form-title">Username/email:</div>
		<input class="form-field" type="text" name="email" value=""><br>

		<div class="form-title">Password:</div>
		<input class="form-field" type="password" name="pword" value=""><br>

		{% csrf_token %}
		<div class="submit-container">
            <input class="submit-button" type="submit" name="login" value="Log in">
            <input class="submit-button" type="submit" name="reguser" value="Register">
        </div>
	</form>

{% endif %}

{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}

<form action="/auctionhouse/" method="get">
	<input class="form-field" type="search" name="searchfield">
	<input class="submit-button" type="submit" name="searchbutton" value="Search">
</form>

<h3>Active Auctions:</h3>

{% for i in auctions %}

	Title: <a href="/auction/{{ i.id }}/">{{ i.title }}</a><br>
	Price: {{ i.min_price }}<br><br>

	{% if user.is_superuser %}
		<form action="/deleteauction/{{ i.id }}/" method="post">
			{% csrf_token %}
			<input type="submit" name="delauction" value="Delete Auction">
		</form>
	{% endif %}
	<hr>
	<br>

{% endfor %}

{% include "footer.html" %}
