{% include "head.html" %}
{% comment %}   The head.html should be inherited parent when template design have been completed.
				It`s work in progress.
	{% endcomment %}

{% include "body.html" %}
    <h1>New User</h1>
    <form action="/registeruser/" method="post">

	    <label>First name: </label><br>
        <input type="text" name="fname" value="First name"><br>
	    <label>Surnamename: </label><br>
        <input type="text" name="sname" value="Surname"><br>
		<label>Password: </label><br>
        <input type="text" name="pword" value="Password"><br>
		<label>Retype Password: </label><br>
        <input type="text" name="vpword" value="Verifypassword"><br>
		<label>Phone number: </label><br>
        <input type="text" name="phone" value="Surname"><br>
		<label>Email: </label><br>
        <input type="text" name="email" value="E-Mail"><br>

        <br>
        <label>Address: </label><br>
        {% csrf_token %}
        <textarea name="address" cols="40" rows="3"></textarea>
        <br>
	    <input type="submit" value="Save">

    </form>

{% include "footer.html" %}